body {
  font-family: 'Open Sans', sans-serif;
  background-color: #2f7faa;
  letter-spacing: 0.02em;
}

body, a, #searchTerm, #searchTerm::placeholder, #submitSearch {
  color: #fff;
}

h1, h2, h3, .result-title, #searchTerm, .random {
  font-weight: 100;
}

.container {
  width: 85%;
  margin: 0 auto;
}

#searchTerm {
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #fff;
  padding: 3px 5px;
  font-size: 1em;
  letter-spacing: 0.1em;
}

#searchTerm:focus {
  outline-style: none;
}

#submitSearch, .random, .result {
  background-color: #55a5d0;
}

#submitSearch {
  margin-left: 0;
  border-style: none;
  padding: 4px 7px;
  font-size: 1em;
  border-radius: 3px;
}

.random {
  display: inline-block;
  margin: 15px 0;
  padding: 5px 7px;
  border-radius: 3px;
  text-decoration: none;
}

#results {
  display: none;
  margin-bottom: 50px;
}

.result {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  border-radius: 4px;
  padding: 15px;
}

.result-title {
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 75%;
  }
}