body {
  background-color: #2f7faa;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 0.02em;
}

.container {
  margin: 0 auto;
  width: 85%;
}

@media (min-width: 1200px) {
  .container {
    width: 75%;
  }
}

.search-input {
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0.1em;
  padding: 3px 5px;
}

.search-input:focus {
  outline-style: none;
}

.search-input::placeholder {
  color: #fff;
}

.search-btn {
  background-color: #55a5d0;
  border-radius: 3px;
  border-style: none;
  color: #fff;
  font-size: 1em;
  margin-left: 0;
  padding: 4px 7px;
}

.random {
  background-color: #55a5d0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin: 15px 0;
  padding: 5px 7px;
  text-decoration: none;
}

#results {
  display: none;
  margin-bottom: 50px;
}

.result {
  background-color: #55a5d0;
  border-radius: 4px;
  color: #fff;
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  text-decoration: none;
}

.loading,
.no-results,
.result-title,
.title {
  font-weight: 100;
}

.result-title,
.no-results {
  margin: 0;
}

.random:hover,
.search-btn:hover  {
  background-color: #246182;
  cursor: pointer;
}